<div class="mt-4">
    <h3>Sửa khoá học</h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên khoá học</label>
            <input type="text" class="form-control" name="name" value="{{course.name}}">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" name="description" value="{{course.description}}">
        </div>
        <div class="form-group">
            <label for="imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" value="{{course.imageUrl}}">
        </div>
        <div class="form-group">
            <label for="level">Trình độ</label>
            <input type="text" class="form-control" name="level" value="{{course.level}}">
        </div>
        <div class="form-group">
            <label for="time">Tổng thời gian</label>
            <input type="text" class="form-control" name="time" value="{{course.time}}" disabled>
        </div>
        <div class="form-group">
            <label for="cost">Giá</label>
            <input type="text" class="form-control" name="cost" value="{{course.cost}}">
        </div>
        <div class="form-group">
            <label for="category">Danh mục</label>
            <select class="custom-select form-control-sm checkbox-select-all-options" name="category" required>
                {{#each categories}}
                    <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary course-btn">Update</button>
    </form>
</div>
