<div class="report-container">
    <div class="row">
        <div class="col-xl-12 my-5 text-center">
            <h3 class="mb-3">Báo cáo theo lượt mua khoá học</h3>
            <div class="card">
                <canvas id="chartCourse4" style="max-height:350px;"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 my-5 text-center">
            <h3 class="mb-3">Báo cáo theo danh mục khoá học</h3>
            <div class="card">
                <canvas id="chartCategory" style="max-height:350px;"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 mt-4 text-center">
            <h3 class="mb-3">Báo cáo theo khoá học</h3>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <canvas id="chartCourse1" style="max-height:350px;"></canvas>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card">
                        <canvas id="chartCourse2" style="max-height:350px;"></canvas>
                    </div>
                </div>
                <div class="col-xl-12 my-5">
                    <div class="card">
                        <canvas id="chartRate" style="max-height:350px;"></canvas>
                    </div>
                </div>
                <div class="col-xl-12 my-5">
                    <div class="card">
                        <div>
                            <canvas id="chartRate2"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 my-5">
                    <div class="card">
                        <div>
                            <canvas id="chartCourse3"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- doughnut chart --}}
<script>
    function DoughnutChart(labels, data, title) {
        const dataChart = {
            labels: labels,
            datasets: [{
                label: '',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132)',
                    'rgba(255, 159, 64)',
                    'rgba(255, 205, 86)',
                    'rgba(75, 192, 192)',
                    'rgba(54, 162, 235)',
                    'rgba(153, 102, 255)',
                    'rgba(201, 203, 207)'
                ],
                hoverOffset: 4
            }]
        };
        return configChart = {
            type: 'doughnut',
            data: dataChart,
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: title,
                    },
                    legend: {
                        position: 'bottom',
                    },
                }
            }
        };
    }
</script>

{{!-- Bar chart --}}
<script>
    function BarChart(label, data, title, dataSetLabel) {
        const dataBar = {
            labels: label,
            datasets: [
                {
                    label: dataSetLabel,
                    data: data,
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    barPercentage: 0.5,
                },
            ],
        };
        return configBar = {
            type: "bar",
            data: dataBar,
            options: {
                indexAxis: "y",
                elements: {
                    bar: {
                        borderWidth: 2,
                    },
                },
                responsive: true,
                plugins: {
                    legend: {
                        position: "none",
                    },
                    title: {
                        display: true,
                        text: title,
                    },
                },
            },
        };
    }
</script>

{{!-- Thống kê số lượt bán của từng khoá học --}}
<script>
    const countedBought = {{{ countedBought }}};
    const labelBoughtCourses = countedBought.map(i => i.name);
    const countBoughtCourses = countedBought.map(i => i.count);
    const configBarBoughtCourses = BarChart(labelBoughtCourses, countBoughtCourses, 'Báo cáo lượt mua của từng khoá học', 'Số lượt mua');
    let chartCourses = new Chart(document.getElementById("chartCourse4"), configBarBoughtCourses);
</script>
{{!-- Thông kê số khoá học trong từng danh mục khoá học --}}
<script>

    const categories = {{{ categories }}};
    const labelsCategory = categories.map(c => c.name);
    const dataCategory = categories.map(c => c.courseNumber);
    const configBarCategory = BarChart(labelsCategory, dataCategory, 'Báo cáo theo số lượng khoá học', 'Số khoá học')
    let chartCategory = new Chart(document.getElementById("chartCategory"), configBarCategory);
</script>

{{!-- Thống kê khoá học theo khoảng giá, theo mức độ, theo đánh giá--}}
{{!------------ Theo khoảng giá --}}
<script>
    const courses = {{{ courses }}};
    console.log(courses);

    let cost = courses.map(c => c.cost).sort();
    let a = 0, b = 0, c = 0, d = 0;
    for (let i of cost) {
        if (i < 300000) a++;
        else if (i >= 300000 && i < 500000) b++;
        else if (i >= 500000 && i < 700000) c++;
        else if (i >= 700000) d++;
    }
    let dataCost = [a, b, c, d];
    let labelsCost = [
        'Nhỏ hơn 300k',
        'Từ 300k đến dưới 500k',
        'Từ 500k đến dưới 700k',
        'Từ 700k trở lên'
    ];
    let configCost = DoughnutChart(labelsCost, dataCost, 'Báo cáo theo khoảng giá');
    let chartCourse1 = new Chart(document.getElementById("chartCourse1"), configCost);
</script>
{{!-- ----------Theo mức độ --}}
<script>
    let level = courses.map(c => c.level);
    let e = level.filter(l => l === 'Dễ').length;
    let f = level.filter(l => l === 'Trung bình').length;
    let g = level.filter(l => l === 'Nâng cao').length;
    let dataLevel = [e, f, g];
    let labelsLevel = [
        'Dễ',
        'Trung bình',
        'Nâng cao',
    ];
    let configLevel = DoughnutChart(labelsLevel, dataLevel, 'Báo cáo theo cấp độ');
    let chartCourse2 = new Chart(document.getElementById("chartCourse2"), configLevel);
</script>
{{!-- ----------Theo đánh giá tất cả khoá học--}}
<script>
    let rates = {{{ rates }}};
    let labelsRate = ['1⭐', '2⭐', '3⭐', '4⭐', '5⭐'];
    let dataRate = [];
    for (let i = 1; i <= 5; ++i) {
        const val = rates.filter(r => r === i).length;
        dataRate.push(val);
    }
    const configBarRate = BarChart(labelsRate, dataRate, 'Báo cáo theo đánh giá', 'Số đánh giá');
    configBarRate.options.indexAxis = "x";
    let chartRate = new Chart(document.getElementById("chartRate"), configBarRate);
</script>

{{!-- Theo đánh giá từng khoá học --}}
<script>
    let rateOfCourses = {{{ rateOfCourses }}};
    let labelsrateOfCourses = rateOfCourses.map(r => r.name);
    let datarateOfCourses = rateOfCourses.map(r => r.rateAvg);

    const configBarRateOfCourses = BarChart(labelsrateOfCourses, datarateOfCourses, 'Đánh giá trung bình từng khoá học', 'Đánh giá trung bình');
    configBarRateOfCourses.options.indexAxis = "y";

    let chartRateOfCourses = new Chart(document.getElementById("chartRate2"), configBarRateOfCourses);
</script>

{{!-- Báo cáo số bài học trong mỗi khoá học --}}
<script>
    let lessonNumber = courses.map(c => c.lessonNumber);
    const configBarCourses = BarChart(labelsrateOfCourses, lessonNumber, 'Báo cáo số bài học trong từng khoá học', 'Số bài học');
    let chartCourses = new Chart(document.getElementById("chartCourse3"), configBarCourses);

</script>