<form name="container-form" class="mt-4" method="POST" action="/lessons/handle-form-actions">
    <div>
        <h3>Danh sách tài khoản</h3>
        <a href="/me/trash/users">Thùng rác ({{deletedCount}})</a>

        <div class="mt-4 d-flex align-items-center">
            <select class="custom-select form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">Tất cả</option>
                <option value="delete">Xoá</option>
            </select>

            <button class="btn btn-primary btn-sm submit-btn" disabled>Thực
                hiện
            </button>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col" >STT</th>
            <th scope="col">
                Tên đăng nhập
            </th>
            <th scope="col">Họ tên</th>
            <th scope="col">Ví</th>
            <th scope="col">
                Khoá học đã mua
            </th>
            <th scope="col">Quyền
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each dataUser}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.username}}</td>
                <td>{{this.fullname}}</td>
                <td>{{this.wallet}}</td>
                <td>{{this.courses}}</td>
                <td>{{this.roles}}</td>
                <td>
                    <a href="/lessons/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                       data-target="#delete-lesson">Xoá</a>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Chưa có user nào đăng ký
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete user--}}
<div id="delete-user" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xoá <span id="countDelete"></span> tài khoản này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-user" type="button" class="btn btn-danger">Xoá bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete form--}}
<form method="POST" name="delete-user-form" action=""></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        //Khi bam vao nut xoa
        var userIds;
        var deleteForm = document.forms['delete-user-form'];
        var btnDeleteuser = document.getElementById('btn-delete-user');
        var checkBoxAll = $('#checkbox-all');
        var userItemCheckbox = $('input[name="userIds[]"]');
        var SubmitBtn = $('.submit-btn');
        var containerForm = document.forms['container-form'];

        $('#delete-user').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            userIds = button.data('id');
        })

        btnDeleteuser.onclick = function () {
            deleteForm.action = '/users/' + userIds + '?_method=DELETE';
            deleteForm.submit();
        }

    });
</script>
