<form name="container-form" class="mt-4" method="POST" action="/categories/handle-form-actions">
    <div>
        <h3>Danh mục khoá học của tôi</h3>
        <a href="/me/trash/categories">Thùng rác ({{deletedCount}})</a>

    </div>

    <table class="table">
        <thead>
        <tr>

            <th scope="col">STT</th>
            <th scope="col">
                Tên danh mục
                {{{sortable 'name' _sort}}}
            </th>
            <th scope="col">Mô tả</th>
            <th scope="col">Ảnh</th>

        </tr>
        </thead>
        <tbody>
        {{#each categories}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.imageUrl}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                       data-target="#delete-course">Xoá</a>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khoá học nào.
                    <a href="/courses/create">Đăng khoá học!</a>
                </td>
            </tr>

        {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete course--}}
<div id="delete-course" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá khoá học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xoá <span id="countDelete"></span> khoá học này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete form--}}
<form method="POST" name="delete-course-form" action=""></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        //Khi bam vao nut xoa
        var categoryIds;
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkBoxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var SubmitBtn = $('.submit-btn');
        var containerForm = document.forms['container-form'];

        $('#delete-course').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            categoryIds = button.data('id');
        })

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/categories/' + categoryIds + '?_method=DELETE';
            deleteForm.submit();
        }

        //checkbox all clicked
        // checkBoxAll.change(function () {
        //     courseItemCheckbox.prop('checked', $(this).prop('checked'));
        //     renderSubmitBtn()
        // });
        //
        // courseItemCheckbox.change(function () {
        //     var isCheckedAll = $('input[name="courseIds[]"]:checked').length === courseItemCheckbox.length;
        //     checkBoxAll.prop('checked', isCheckedAll);
        //     renderSubmitBtn()
        // })
        //
        // //Re-render check all submit btn
        // function renderSubmitBtn() {
        //     var checkedCount = $('input[name="courseIds[]"]:checked').length;
        //     if (checkedCount) {
        //         SubmitBtn.attr('disabled', false);
        //     } else {
        //         SubmitBtn.attr('disabled', true);
        //     }
        // }
    });
</script>
