<form name="container-form" class="mt-4" method="POST" action="/lessons/handle-form-actions">
    <div>
        <h3>Bài học của tôi</h3>
        <a href="/me/trash/lessons">Thùng rác ({{deletedCount}})</a>

        <div class="mt-4 d-flex align-items-center">
            <select class="custom-select form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">Tất cả</option>
                <option value="delete">Xoá</option>
            </select>

            <button class="btn btn-primary btn-sm submit-btn" disabled>Thực
                hiện
            </button>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col" >STT</th>
            <th scope="col">
                Tên bài học
                {{{sortable 'name' _sort}}}
            </th>
            <th scope="col">Mô tả</th>
            <th scope="col">Ảnh</th>
            <th scope="col">
                Khoá học
                {{{sortable 'course.name' _sort}}}
            </th>
            <th scope="col">Thời gian
                {{{sortable 'time' _sort}}}
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each lessons}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.imageUrl}}</td>
                <td>{{this.course.name}}</td>
                <td>{{this.time}}</td>
                <td>
                    <a href="/lessons/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                       data-target="#delete-lesson">Xoá</a>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng bài học nào.
                    <a href="/lessons/create">Đăng bài học!</a>
                </td>
            </tr>

        {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete lesson--}}
<div id="delete-lesson" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá bài học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xoá <span id="countDelete"></span> bài học này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-lesson" type="button" class="btn btn-danger">Xoá bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete form--}}
<form method="POST" name="delete-lesson-form" action=""></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        //Khi bam vao nut xoa
        var lessonIds;
        var deleteForm = document.forms['delete-lesson-form'];
        var btnDeleteLesson = document.getElementById('btn-delete-lesson');
        var checkBoxAll = $('#checkbox-all');
        var lessonItemCheckbox = $('input[name="lessonIds[]"]');
        var SubmitBtn = $('.submit-btn');
        var containerForm = document.forms['container-form'];

        $('#delete-lesson').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            lessonIds = button.data('id');
        })

        btnDeleteLesson.onclick = function () {
            deleteForm.action = '/lessons/' + lessonIds + '?_method=DELETE';
            deleteForm.submit();
        }

        //checkbox all clicked
        // checkBoxAll.change(function () {
        //     lessonItemCheckbox.prop('checked', $(this).prop('checked'));
        //     renderSubmitBtn()
        // });
        //
        // lessonItemCheckbox.change(function () {
        //     var isCheckedAll = $('input[name="lessonIds[]"]:checked').length === lessonItemCheckbox.length;
        //     checkBoxAll.prop('checked', isCheckedAll);
        //     renderSubmitBtn()
        // })

        //Re-render check all submit btn
        // function renderSubmitBtn() {
        //     var checkedCount = $('input[name="lessonIds[]"]:checked').length;
        //     if (checkedCount) {
        //         SubmitBtn.attr('disabled', false);
        //     } else {
        //         SubmitBtn.attr('disabled', true);
        //     }
        // }
    });
</script>
